<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" rel="stylesheet" />
    <script src="../static/js/jquery.js"></script>
    <!-- <link href="../static/pic/grip solid horizontal 1.png" type="image/x-icon" rel="shortcut icon"> -->
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/world.js"></script>
    <title>my page</title>
    <style>
        body {
            background-color: #efefef;
        }
    </style>
</head>

<body>

    <!-- <div id="menu">我是目录</div>
    <div id="title">
        <div class="title">
            <img src="../static/pic/grip solid horizontal 1.png">
            <h2>gdp可视化分析</h2>
        </div>
       
    </div>  -->
    <div id='map'>111</div>


    <script src="../static/js/ec_map.js"></script>
    <script src="../static/js/page_ctrl.js"></script>
</body>

</html>